html body {
    background-color: #FE691E;
    margin: 0px;
    padding: 0px;
}

header nav {
    color: white;
    font-size: 10px;
    max-width: 70%;
    margin: auto;
}

section {
    display: flex;
}

.container {
    max-width: 70%;
    margin: auto;


}

.div_grid {
    display:grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   /* background-color: aqua;*/

    text-align: left;
    border-top: 1px solid white;
/*    border-bottom: 1px solid white;   */
}
.div_grid:nth-child(1){
    border-bottom: 1px solid white;
}

ul {
    display: flex;
    margin: 0px;
    padding:0px;
}

/*
ul .div_grid:nth-child(2){
    color: aqua;
}
*/
li {
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;

}
.item:nth-child(1) {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
.item:nth-child(2) {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
.item:nth-child(3) {
    border-bottom: 1px solid white;    
}
.item:nth-child(4) {
    border-right: 1px solid white;    
}
.item:nth-child(5) {
    border-right: 1px solid white;    
}
li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 200px;
    height: 200px;

}
li h5 {
    color: white;
    margin-top:10px;
    font-size: 9px;
}
li h6 {
    margin:0px;
    color: white;
    font-size: 8px;
}
.img_socialmedia {
    margin-top: 8%;
    width: 10px;
    height: 12px;
}
.img_date {
    margin-left: 20%;
    width: 35px;
    height: 15px;
}

.img_artist {
    margin-top: 10px;
}

li img {
    width: 85%;
    height:35%;
}
p {

    color: white;
    text-decoration:underline;
    font-size: 8px;
}

@media (max-width: 600px) {
    html body {
 /*       background-color: aquamarine;
  */  }
    
header nav {
    color: white;
    font-size: 10px;
    width: 80%;
    margin: auto;
}
    .container {
        width: 80%;
        margin: auto;    
    }
        .div_grid {
            display:grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
           /* background-color: aqua;*/
        
            text-align: left;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            
        
        }
      
       li img {
        width: 90%;
        height:35%; /*NO PONERLE..*/
/*        object-fit: cover; Si necesito una imagen que se vea de calidad pero se recortaria */
/*max-width: 90%; */
}

}
@media (max-width: 500px) {
    html body {
 /*       background-color: red;
  */  }
    
header nav {
    color: white;
    font-size: 10px;
    width: 80%;
    margin: auto;
}
    .container {
        width: 80%;
        margin: auto;    
    }
        .div_grid {
            display:grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
           /* background-color: aqua;*/
        
            text-align: left;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            
        
        }
     
       li img {
        width: 90%;
        height:35%;
}
}

